@import '../../../styles/mixin';

#captchaBox {
  position: relative;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 36px;
  }

  input {
    // .clearButton;
    width: 100%;
    outline: none;
    padding: 10px 0;
  }
}
