@import '../../../styles/mixin.less';

#exchange {
  .wrapper {
    padding-bottom: 60px;
    margin: 0 60px;
  }

  .mainContent {
    position: relative;
    box-sizing: border-box;
    padding: 44px;
    background-color: @theme-color-bg-content;

    .notice {
      display: block;
      text-align: right;
      margin: 20px 0 70px;
      color: @font-sub-color;
    }

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 26px;
      font-size: @font-size-common;

      span.label {
        color: @theme-color-blue;
        line-height: 1.9;
      }

      .tips {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        font-size: @font-size-smaller;
        color: @font-sub-color;
      }

      input {
        .clearInput();
        color: @font-color-primary;
        padding: 20px 0;
        border-bottom: 2px solid @theme-border-gray;

        &::placeholder {
          color: #6d778b;
        }
      }

      .codeWrapper {
        display: flex;
        border-bottom: 2px solid @theme-border-gray;

        .codeNumber {
          width: 230px;
          color: @font-color-primary;
        }

        input {
          width: 100%;
          border-bottom: none;
        }
      }
    }

    .labelTag {
      display: flex;
      justify-content: space-between;
      color: @theme-color-blue;
      line-height: 2;

      &.small {
        font-size: @font-size-smaller;
      }
    }

    .selectCurrency {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 40px 0;
      border-bottom: 2px solid @theme-border-gray;

      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          margin: 0 20px;
        }
      }

      .popover {
        position: absolute;
        top: 155px;
        display: none;
        width: 238px;
        text-align: center;
        box-sizing: border-box;
        padding: 15px 35px 0;
        border: 2px solid @theme-border-gray;
        border-radius: 8px;
        background-color: @theme-color-bg-content;

        &::before {
          position: absolute;
          left: 50%;
          top: -20px;
          z-index: 1;
          content: '';
          transform: translateX(-50%);
          border-top: 0 solid transparent;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid @theme-border-gray;
        }

        &::after {
          position: absolute;
          left: calc(50% + 1px);
          top: -17px;
          z-index: 1;
          content: '';
          transform: translateX(-53%);
          border-top: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 17px solid @theme-color-bg-content;
        }

        .checkItem {
          .clearBtn;
          display: block;
          width: 100%;
          margin: auto;
          background: none;
          padding: 15px 0;
          color: @font-color-primary;
          border-bottom: 2px solid @theme-border-gray;

          &.disabled {
            color: #99a7c2;
          }
        }
      }
    }
  }

  .reminder {
    margin: 28px 0 70px;
    color: @font-sub-color;
    font-size: @font-size-smaller;
  }
}
