@import '../../../styles/mixin.less';

.walletFlow {
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 261px;

  section {
    padding: 0 60px;

    &.contentTop {
      p {
        font-weight: 600;
        color: #0078ff;
        font-size: @font-size-largest;
        background: -webkit-linear-gradient(320deg, #0078ff 0%, #7e00ff 15%, #7e00ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      table {
        width: 100%;
        padding: 0 0 20px;
        margin-bottom: 50px;
        border-bottom: 2px solid #1a202e;

        th,
        td {
          width: 30%;

          &:nth-child(2) {
            text-align: center;
          }

          &:last-child {
            text-align: right;
          }
        }

        th {
          color: #6d778b;
          line-height: 2;
          font-size: @font-size-smaller - 2px;
          text-align: left;
        }

        td {
          font-size: @font-size-smaller;

          &:nth-child(2) {
            transform: translateX(-50px);
          }
        }
      }
    }
  }

  .summary {
    padding: 50px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .coin {
      position: relative;

      .options {
        position: absolute;
        top: 75px;
        left: 50px;
      }
    }

    .select {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 306px;
      height: 70px;
      padding: 0 40px 0 20px;
      background: rgba(46, 53, 70, 1);
      border-radius: 20px;

      img {
        width: 12%;
      }
    }
  }

  ul {
    .clearUl;
    padding: 20px 0;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 30px 0;
      border-bottom: 2px solid rgba(26, 32, 46, 1);

      .label {
        display: flex;
        flex-direction: column;
        line-height: 44px;

        small {
          margin-top: 4px;
          color: rgba(109, 119, 139, 1);
          line-height: 32px;
        }
      }

      .value {
        color: rgba(0, 200, 115, 1);
        line-height: 44px;

        &.decrease {
          color: @theme-color-red;
        }
      }
    }
  }
}
