@import '../../../styles/mixin.less';

.buySupporting {
  line-height: 44px;
}

.label {
  padding: 20px 60px;
}

.gears {
  .clearUl;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 30px;

  li {
    width: 33.333%;
    margin: 20px 0;
    padding: 0 30px;

    &.active span {
      border: 2px solid;
      border-image: linear-gradient(90deg, rgba(1, 118, 255, 1), rgba(124, 1, 255, 1)) 2 2;
    }

    span {
      display: block;
      width: 100%;
      height: 80px;

      border: 2px solid rgba(109, 119, 139, 1);
      text-align: center;
      line-height: 80px;
    }
  }
}

.income {
  padding: 20px 60px 40px;
  color: @font-sub-color;

  p:first-child {
    margin-bottom: 4px;
  }

  small {
    font-size: 24px;
  }
}

.payment {
  padding: 10px 60px 40px;

  .coin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    height: 90px;
    padding: 0 30px;
    background: rgba(26, 32, 46, 1);
    border-radius: 8px;
  }

  aside {
    margin-top: 20px;
    text-align: right;
    font-size: 24px;
    color: @font-sub-color;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}

.btnBox {
  padding: 100px 60px;

  button {
    width: 100%;
    height: 80px;
    background: linear-gradient(315deg, rgba(126, 0, 255, 1) 0%, rgba(0, 120, 255, 1) 100%);
    border-radius: 52px;
    border: none;
    color: #fff;
  }
}
