@import '../../../styles/mixin.less';

#selectAccount {
  display: flex;
  flex-direction: column;

  .mainContent {
    width: 100%;

    p {
      font-size: @font-size-super-xl;
      margin-left: 60px;
    }

    .sectionWrap {
      margin-top: 25%;

      section {
        position: relative;
        right: 0;
        left: 60px;
        display: flex;
        justify-content: space-between;
        width: 92%;
        box-sizing: border-box;
        margin-top: 40px;
        padding: 35px 60px 35px 35px;
        background-color: @theme-color-bg-content;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: inline-block;
          width: 100%;
          height: 2px;
          .background-gradient-horizontal(@theme-border-gradient-from, @theme-border-gradient-to);
        }
      }
    }
  }
}
