.groupTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 240px;
    padding: 20px 0;
    color: #1663f7;
    font-size: 32px;
    border-bottom: 4px transparent solid;
    border-image: linear-gradient(to right, rgba(126, 0, 255, 1), rgba(0, 120, 255, 1)) 1 10;

    img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }

  aside {
    font-weight: 400;
    color: rgba(109, 119, 139, 1);
    line-height: 34px;
  }
}
