@import '../../../styles/mixin.less';

.groupTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 240px;
    padding: 20px 0;
    color: #1663f7;
    font-size: 32px;
    border-bottom: 4px solid #2e3546;

    border-image: linear-gradient(to right, @theme-border-gradient-to, @theme-border-gradient-from)
      1 10;
    //border-image: -webkit-linear-gradient(
    //    to right,
    //    @theme-border-gradient-to,
    //    @theme-border-gradient-from
    //  )
    //  1 10;
    //border-image: -moz-linear-gradient(
    //    to right,
    //    @theme-border-gradient-to,
    //    @theme-border-gradient-from
    //  )
    //  1 10;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }

  aside {
    font-weight: 400;
    color: rgba(109, 119, 139, 1);
    line-height: 34px;
  }
}
