@import '../../../../styles/mixin.less';

ul {
  .clearUl;
  padding: 12px 0 60px 60px;

  li {
    line-height: 44px;
    border-bottom: 2px solid rgba(26, 32, 46, 1);;

    .title {
      margin-top: 40px;
      font-size: 32px;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 36px;
      margin-bottom: 18px;

      .column {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        text-align: left;

        &:first-child {
          padding-right: 20px;
          width: 18%;
        }

        &:last-child {
          padding: 0 24px 0 20px;
          width: 30%;
          text-align: right;
        }

        label {
          margin-bottom: 6px;
          font-size: 22px;
          color: @font-sub-color;
          line-height: 32px;
        }

        &.center {
          width: 52%;

          span {
            width: 100%;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        span {
          font-size: 28px;
        }
      }
    }
  }
}
