@import './../../styles/mixin.less';

#game {
  .banner {
    height: 300px;
    .background-gradient-horizontal(@theme-border-gradient-from, @theme-border-gradient-to);

    ul {
      display: flex;
      justify-content: space-between;
      width: 66%;
      margin: auto;

      li {
        display: flex;
        align-items: center;
        line-height: 1.4;

        &:first-child,
        &:last-child {
          &::before {
            content: '';
            display: inline-block;
            width: 44px;
            height: 44px;
            .background-image();
          }
        }

        &:first-child {
          &::before {
            background-image: url(@/assets/dark/game-d.png);
          }
        }

        &:last-child {
          &::before {
            background-image: url(@/assets/dark/game-r.png);
          }
        }

        span {
          display: block;
          margin-left: 26px;

          &:first-child {
            font-size: @font-size-largest;
          }

          &:last-child {
            font-size: @font-size-smaller;
          }
        }
      }
    }
  }

  .mainContent {
    box-sizing: border-box;
    padding: 20px 60px;

    .top {
      display: block;
      width: 100%;
      min-height: 100px;
      max-height: 136px;
      // max-height: 200px;
      background: @theme-color-bg;
      border-radius: 10px;
      object-fit: cover;
    }

    section {
      width: 100%;
      background: #1a202f;
      padding: 25px;
      border-radius: 10px;
      border: 2px solid #1a202f;
      margin-bottom: 20px;

      img {
        border-radius: 10px;
        object-fit: cover;
      }

      &.first {
        margin-top: 20px;

        h3 {
          font-size: @font-size-common;
          color: @font-sub-color;
          margin-bottom: 14px;
        }

        .imgGroup {
          display: flex;
        }

        .leftWrapper {
          position: relative;
          width: 48%;
          margin-right: 10px;
          overflow: hidden;
          border-radius: 10px;
          height: 308px;
          background: @theme-color-bg;

          .left {
            display: inline-block;
            background: @theme-color-bg;
            // width: 100%;
            // width: 264px;
            // height: 300px;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          span {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            box-sizing: border-box;
            padding: 5px 0;
            text-align: center;
            font-size: @font-size-smaller;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: rgba(0, 0, 0, 0.7);
          }
        }

        .rightWrapper {
          position: relative;
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;
          align-items: center;
          width: 60%;

          > p {
            position: relative;
            width: 48%;
            overflow: hidden;
            border-radius: 10px;

            span {
              position: absolute;
              width: 100%;
              left: 0;
              right: 0;
              bottom: 5.5px;
              padding: 5px 10px;
              text-align: center;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: @font-size-smaller;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              text-overflow: ellipsis;
              background: rgba(0, 0, 0, 0.7);
            }

            &:nth-child(1),
            &:nth-child(2) {
              margin-bottom: 20px;
            }

            &:nth-child(1),
            &:nth-child(3) {
              margin-right: 10px;
            }
          }

          .right {
            display: inline-block;
            width: 100%;
            // width: 138px;
            height: 140px;
            min-width: 50px;
            background: @theme-color-bg;
          }
        }
      }

      &.second {
        .navWrapper {
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          ul {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;

            li {
              width: 130px;
              padding: 36px 0;
              text-align: center;
              border-bottom: 2px solid transparent;
              font-size: @font-size-smaller;
              color: @font-sub-color;

              &.active {
                font-size: @font-size-common;
                color: @font-color;
                border-image: linear-gradient(
                    to right,
                    @theme-border-gradient-to,
                    @theme-border-gradient-from
                  )
                  1 10;
                border-image: -webkit-linear-gradient(
                    to right,
                    @theme-border-gradient-to,
                    @theme-border-gradient-from
                  )
                  1 10;
                border-image: -moz-linear-gradient(
                    to right,
                    @theme-border-gradient-to,
                    @theme-border-gradient-from
                  )
                  1 10;
                border-top: 0;
                border-left: 0;
                border-right: 0;
              }
            }
          }
        }

        .contentWrapper {
          margin-top: 20px;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid @theme-border-gray;
            padding: 30px 0;

            img {
              width: 68px;
              min-height: 68px;
              background: #ddd;
              margin-right: 10px;
            }

            p {
              &.center {
                width: 50%;
                line-height: 1.4;
                flex-grow: 0.35;
                color: @font-color-primary;

                span {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;

                  &:first-child {
                    font-size: @font-size-common;
                  }
                }
              }

              &.right {
                position: relative;
                color: @font-sub-color;
                margin-right: 20px;
                line-height: 1.7;

                span {
                  width: 135px;
                }

                &::after {
                  position: absolute;
                  right: -3%;
                  bottom: 0;
                  transform: translateY(-50%);
                  content: '';
                  display: inline-block;
                  width: 10px;
                  height: 18px;
                  .background-image();
                  background-image: url(@/assets/icons/arrow-right.png);
                }
              }

              span {
                display: block;
                font-size: @font-size-smaller-1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .viewAll {
          margin-top: 30px;
          text-align: center;
          color: @font-sub-color;
          font-size: @font-size-smaller;
        }
      }
    }
  }
}
