@import '../../styles/mixin.less';

.home {
  padding-top: 108px;
  background: @theme-color-bg;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: @theme-color-bg;

    .menus {
      position: absolute;
      top: 108px;
      right: 60px;
    }
  }

  .banner {
    margin: 48px;
    height: 348px;
    background-size: 100% 100%;
    background-position: center center;
    padding: 12px;

    label {
      display: block;
      margin: 54px;
    }

    h1 {
      text-align: center;

      small {
        margin-left: 8px;
        font-size: 36px;
      }
    }
  }

  .notice {
    position: relative;
    margin: 60px 60px 0;
    padding: 28px 36px;
    border-bottom: 2px solid #2E3546;

    p {
      .clearBox;
      line-height: 44px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      content: '';
      width: 4px;
      height: 28px;
      background: linear-gradient(313deg, rgba(126, 0, 255, 1) 0%, rgba(0, 120, 255, 1) 100%);
    }
  }
}
