@import '../../../styles/mixin.less';

#header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  padding: 54px 60px;
  z-index: 10;

  &.positionFixed {
    position: fixed;
    background-color: @theme-color-bg-white;
    z-index: 1;
  }

  h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    line-height: 100px;
    font-size: @font-size-common;
  }

  aside {
    img {
      width: 34px;
      max-width: 40px;
    }
  }
}
