@import '../../../styles/mixin.less';

#header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 54px 60px;

  aside {
    img {
      width: 34px;
      // height: 34px;
    }
  }
  h3 {
  }
}
